*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-color: rgb(167, 237, 167);
    display: flex;
    align-items: center;
    justify-content:center;
    height:100vh;
}

.link-card{
    background-color:white;
    border-radius:25px;
    padding:40px 50px;
    text-align:center;
    max-width:500px;
    width:100%;
}

.link-card .avatar{
    width:130px;
    height:130px;
    object-fit:cover;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    border: 3px solid rgb(167, 237, 167);
    box-shadow: 0 0 10px;
}

.links a {
    display: block;
    background: #e0f7fa;
    color: #00796b;
    padding: 16px;
    margin: 14px 0;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.links a:hover{
    background:white;
    color:black;
}
